{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-xs-12 page-container" ng-controller="mainController" ng-cloak>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/app.js"></script>
    <script src="/js/controller/mainController.js"></script>
{% endblock %}
